.header
{
    text-align: center;
    font-size: 30px;
}

.calendar
{    
    display: flex;
    flex-wrap: wrap;
    position: static;
    max-width: 134rem;
    margin: 0 7%;
    
/* Make the colome responce */
}


/* Each day is a div and its css properties to set the color, font size*/
#day
{
    border: solid;
    border-radius: 0%;
    background-color: rgb(249, 214, 214);
    width: 190px;
    height: 190px;
    padding: 2px;
    font-size: 30px;    
}


/*This is changing hte size of the data in the day*/
#day ul li
{
    font-size: 19px;
    list-style: none;   
}

/*The bullet points*/
.dayUl
{
    padding-left: 10px;
}



/* smartphones, iPhone, portrait 480x320 phones  */
@media screen and (min-width:320px)  {
    #day{
        width: 100%;
    } 
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (min-width:641px)  {
    #day{
        width: 31%;
        padding-left: 7px;
    } 
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:961px)  {
    #day{
        width: 23%;
        padding-left: 9px;
    } 
}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {
    #day{
        width: 13%;
    } 
}
